/* Footer.css */
.footer {
  background-color: purple;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex; /* Add display flex */
  justify-content: center; /* Center the content horizontally */
  position: fixed; /* Position the footer */
  bottom: 0; /* Align the footer to the bottom */
  width: 100%; /* Ensure the footer spans the full width */
}

.footer p {
  margin: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
