.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  max-width: 400px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #a18ad6; /* Pastel purple */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.login-button:hover {
  background-color: #7b5ead; /* Darker shade of pastel purple */
}

.login-footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.register-button {
  background-color: #ffcb77; /* Pastel orange */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.register-button:hover {
  background-color: #ffac33; /* Darker shade of pastel orange */
}
