/* 

.registration-container {
    max-width: 400px;
    margin: 20px auto; 
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .registration-container h2 {
    text-align: center;
    color: purple;
    margin-bottom: 10px; 
    margin-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .registration-container form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-container label {
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  .registration-container input {
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 72%;
  }
  
  .registration-container button {
    padding: 12px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registration-container button:hover {
    background-color: green;
  }
  
  .registration-container p {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  
  .registration-container p button {
    background: none;
    border: none;
    color: purple;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .registration-container p button:hover {
    color: white;
  /* } */
  /* Registration.css */

.registration-container {
    max-width: 400px;
    margin: 20px auto; 
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .registration-container h2 {
    text-align: center;
    color: purple;
    margin-bottom: 10px; 
    margin-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .registration-container form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-container label {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: serif;
    
  }
  
  .registration-container input {
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 12px;
    border: 1px solid whitw;
    width: 72%;
  }
  
  .registration-container button {
    padding: 12px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registration-container button:hover {
    background-color: green;
  }
  
  .registration-container p {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  
  .registration-container p button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: orange; 
    padding: 5px 10px; 
    border-radius: 5px; 
}
  
  .registration-container p button:hover {
    color: white;
    background-color: orange; 
  }
