/* UserProfile.css */

.user-profile {
  width: 100%;
  padding: 40px;
}

.profile-heading {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.create-recipe-action,
.logout-action {
  flex: 1;
}

.create-recipe-button,
.logout-button {
  background-color: #a18ad6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-recipe-button:hover,
.logout-button:hover {
  background-color: #7b5ead;
}

.profile-section {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.profile-section h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.recipe-list {
  list-style: none;
  padding: 0;
}

.recipe-list li {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
